body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcd0d0; 
    color: red;
    text-align: center; 
}


.cover {
    padding-top: 200px;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 1.5em;
}

.see-more {
    font-size: 1.2em;
    padding: 10px 20px;
    border: 2px solid red;
    border-radius: 25px; 
    text-decoration: none;
    color: red;
    transition: background-color 0.3s;
}

.see-more:hover {
    background-color: #f7b1b1;
}

.year {
    font-size: 1.2em;
}


.go-back {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px 15px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
}


.contents {
    padding: 50px; 
}

.contents h2 {
    font-size: 3em;
}

.contents .line {
    width: 100%;
    height: 3px;
    background-color: red;
    margin: 10px auto;
}

.contents ul {
    list-style-type: none;
    padding: 0;
}

.contents li {
    font-size: 2em;
    margin: 20px 0;
}

.contents li a {
    text-decoration: none;
    color: red;
    transition: color 0.3s;
}

.contents li a:hover {
    color: darkred;
}


.about {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 50px;
}

.about-image {
    width: 400px; 
    height: auto;
    border-radius: 0;
    margin-right: 20px; 
}

.about-text {
    text-align: left; 
    font-size: 1em;
}


.projects-page {
    padding: 50px; 
}

.projects-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.project {
    text-align: center;
    width: 30%;
}

.project img {
    width: 100%;
    height: auto;
}

.project-link {
    color: red; 
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none; 
    display: block;
    transition: color 0.3s ease; 
}


.project-link:hover {
    color: darkred; 
}


.contact {
    text-align: center; 
    padding: 50px; 
}

.contact h2 {
    font-size: 2.5em;
}


button, a {
    cursor: pointer;
}

.teju-image {
    max-width: 100%; 
    height: auto;     
    width: 100px;     
    margin: 20px 0;   
    display: block;    
}

.project-detail {
    max-width: 600px;
    margin: auto;     
    padding: 20px;    
}

.kairos-image {
    max-width: 100%; 
    height: auto;     
    width: 100px;     
    margin: 20px 0;   
    display: block;    
}

.project-detail {
    max-width: 600px;
    margin: auto;     
    padding: 20px;    
}

.zerza-image {
    max-width: 100%; 
    height: auto;     
    width: 100px;     
    margin: 20px 0;   
    display: block;    
}

.project-detail {
    max-width: 600px;
    margin: auto;     
    padding: 20px;    
}